node_modules
coverage
test
examples
docs
.github
.changeset
.eslintrc.cjs
.eslintignore
.prettierrc
.prettierignore
.editorconfig
tsconfig.json
tsup.config.ts
vitest.config.ts
*.log
*.tsbuildinfo
.DS_Store
